<h2>Coupon Form</h2>

<%= form_tag coupons_path do %>
  <%= label_tag 'coupon_code', 'Coupon code'%>
  <%= text_field_tag :coupon_code %><br>

  <%= label_tag 'store'%>
  <%= text_field_tag :store %>

  <%= submit_tag "Submit Coupon" %>
  
<%end%>