<h3>Coupon Form</h3>
<form action="<%= coupons_path %>" method="POST">
<%= form_tag coupons_path do %>
  <label>Coupon Code:</label><br>
  <%= text_field_tag :'coupon[coupon_code]' %><br>

  <label> Store:</label><br>
  <%= text_field_tag :'coupon[store]' %><br>
 
  <%= submit_tag "Submit Coupon" %>
<% end %>
</form>