<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
<%= label_tag(:coupon_code, "Coupon Code:") %>
  <%= text_field_tag(:coupon_code) %>
  <br>
  <%= label_tag(:store, "Store:") %>
  <%= text_field_tag(:store) %>

   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag("Submit Coupon") %>
<% end %>
