<h1>Coupon Form</h1>
<%= form_tag coupons_path do %>
<label>Store Name:</label><br>
<%= text_field_tag :'coupon[store]' %><br>

<label>Enter the Coupon Code:</label><br>
<%= text_field_tag :'coupon[coupon_code]' %><br>

<!-- all tests passed without the hidden field. not sure if this is necessary but
its in the solution -->
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<%= submit_tag "Submit Coupon" %>
<% end %>
