<h1>New Coupon Form</h1>
<%= form_tag coupons_path do %>

<label>Coupon Code:</label>
<%= text_field_tag :coupon_code %>

<label>Store:</label>
<%= text_field_tag :store %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<%= submit_tag "Submit Coupon" %>
<% end %>

<!-- The new.html.erb view template should render a form that uses the form_tag method.
The form should be wired up to the create action in the controller and, when submitted,
should create a new record in the coupons table with the parameters passed through the form. -->
