<p id="notice"><%= notice %></p>

<p>
  <strong>Coupon code:</strong>
  <h1><%= @coupon.coupon_code %></h1>
</p>

<p>
  <strong>Store:</strong>
  <h1><%= @coupon.store %></h1>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
