<p id="notice"><%= notice %></p>

<h1>
  <strong>Coupon code:</strong>
  <%= @coupon.coupon_code %>
</h1>

<h1>
  <strong>Store:</strong>
  <%= @coupon.store %>
</h1>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
